


 <nav class="navbar navbar-light bg-light">
   <div class="container-fluid">
     <h1 class="navbar-brand">Daily Report</h1>

     <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-primary" type="submit">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
           <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
         </svg>
      </button>
    </form>

     <div class="">
      <ul class="nav nav-pills">
         <li class="flex-fill nav-item">
           <a class="nav-link active" aria-current="page" href="#">Single Animal</a>
         </li>
         <li class="flex-fill nav-item">
           <a class="nav-link" href="#">Groups</a>
         </li>
       </ul>
     </div>
   </div>
 </nav>

 
 

 <div  class="container">
   <div  class="row">
       <div *ngFor="let item of animalDetaillist" class="col col-md-6 p-3">
         <div class="card bg-dark text-white text-center">
            <img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/1675A/production/_113249919_hi061718491.jpg" class="img-responsive"  alt="...">
            <div class="card-img-overlay">

              <div id="hiddendiv" style="display: none; position: absolute;" class="card bg-dark" >
                <!-- <div *ngfor="let time in item.timings" class="container-fluid text-white">
                </div> -->
                <div class="col">
                  09:00 AM : Open Cage
                </div>
                <div class="col">
                  10:00 AM : Food Milk and Rice
                </div>
                <div class="col">
                  10:30 AM : Medication
                </div>
                <div class="col">
                  11:00 AM : Cleaning
                </div>
            </div>
              
              <div class="row" >
                <div class="col-12 col-md-8 h-25"></div>
                <div class="col-6 col-md-4 h-25">
                  <button class="btn bg-white" onclick="togglefunc()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                  </button>
                </div>
              </div>

              <script>
                
              </script>
            
              

              <div class="row" style="height: 4rem;">

              </div>

              <div class="row" style="height: 2rem;">
                <div class="col-6 col-md-4">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                  <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                  </svg>
                </div>
                <div class="col-6 col-md-4 ">
                  <h3>{{item.name}} </h3>
                  </div>
                <div class="col-6 col-md-4">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-video-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5z"/>
                  </svg>
                </div>
              </div>

              <div class="d-flex justify-content-center p-3 " >

                
                  <ng-template *ngIf="item.isfoodeaten==0; then yes else no"></ng-template>
                  <ng-template #yes>
                    <button class="d-flex btn bg-danger" onclick="yesconfirmation()" id="redbtn"  >
                      <div class="flex "><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                        <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                        <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
                      </svg></div>
                      <div class="flex p-1"><h6 class="h6 text-white"> {{item.food}} </h6></div>
                      <div class="flex" style="display: none;"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                      </svg></div>
                    </button>
                    
                  </ng-template>

                  <ng-template #no>
                    <Button class="d-flex btn bg-success" onclick="noconfirmation()" id="greenbtn">
                      <div class="flex " style="display:none ;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                        <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                        <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
                      </svg></div>
                      <div class="flex p-1"><h6 class="h6 text-white"> {{item.food}} </h6></div>
                      <div class="flex"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                      </svg></div>
                    </Button>

                    <script>
                      
                    </script>
                  </ng-template>

                  

              </div>
              
            </div>
          </div>
       </div>
       
   </div>
   </div>
 